/* Min Width 1400px */
@media only screen and (min-width:1400px){
    
}

/* Min Width 1200px */
@media only screen and (min-width:1200px){

    .trv-header.fixed .container{
        max-width: 1280px;
    }
    
}

/* Min Width 992px and Max Width 1199px */
@media only screen and (min-width:992px) and (max-width:1199px){

   
}

/* Min Width 992px */
@media only screen and (min-width:992px){

    .trv-header.fixed{
        position: fixed;
        background-color: transparent;
        box-shadow: none;
        z-index: 10;
    }

    .hero-banner-wpr .desktop-banner{
        display: block;
    }

    .hero-banner-wpr .mobile-banner{
        display: none !important;
    }

    .header-icon:hover{
        color: var(--white-color);
    }

}

/* Max Width 1399px */
@media only screen and (max-width:1399px){
    
}

/* Max Width 1199px */
@media only screen and (max-width:1199px){

    .container-right{
        padding-left: 16px;
    }
}

/* Max Width 1099px */
@media only screen and (max-width:1099px){

    .banner-content{
        width: 55%;
    }

    .banner-content h1{
        font-size: 45px;
    }

    .quick-view-container{
        width: 70%;
    }

}

/* Max Width 991px */

@media only screen and (max-width:991px){

    .trv-header{
        background-color: var(--white-color);
    }

    .header-wpr{
        align-items: center;
    }

    .nav-left .nav-list{
        display: none;
    }

    .nav-right .nav-list{
        position: fixed;
        left: -250px;
        top: 0;
        width: 250px;
        height: 100vh;
        background-color: var(--white-color);
        z-index: 100;
        transition: all .3s ease-in-out;
    }

    .nav-right .nav-list.show{
        left: 0;
    }

    .nav-right .nav-list li{
        display: block;
    }

    .nav-right .nav-list li a{
        font-size: 16px;
        color: var(--text-color);
        border-bottom: 1px solid rgba(48,48,48,.15);
    }

    .logo img{
        max-width: 100px;
        height: 90px;
    }

    .header-icon{
        color: var(--text-color);
    }

    .header-icon span.product-count{
        color: var(--white-color);
        background-color: var(--secondary-color);
    }

    .hero-banner-wpr .banner-item{
        height: auto;
    }

    .hero-banner-wpr .desktop-banner{
        display: none !important;
    }

    .banner-content{
        width: 100%;
        color: var(--white-color);
    }

    .banner-content p{
        color: var(--white-color);
    }

    .categori-details{
        grid-template-columns: 1fr;
    }

}

/* Max Width 767px */
@media only screen and (max-width:767px){
    
    .form-group.required label{
        text-align: left;
    }

    .product-review-tabs-content .nav{
        padding-bottom: 10px;
        margin-bottom: 10px;
        justify-content: flex-start;
    }

    .product-review-tabs-content .nav li a{
        padding: 5px 10px;
    }

    .product-review-tabs-content .nav li a.active:before{
        content: none;
    }
}

/* Max Width 575px */
@media only screen and (max-width:575px){
    
    .form-group.required label{
        text-align: left;
    }

    .hero-banner-wpr.owl-carousel .owl-dots{
        position: absolute;
        bottom: 24px;
        left: 48%;
        transform: translateX(-48%)
    }

    .hero-banner-wpr.owl-carousel .owl-dot{
        width: 10px;
        height: 10px;
        background: var(--white-color) !important;
    }

    .hero-banner-wpr.owl-carousel .owl-dot.active{
        background: var(--secondary-color) !important;
    }
}

/* Max Width 480px */
@media only screen and (max-width:480px){

    .sec-padding{
        padding: 50px 0;
    }

    .sec-pt{
        padding-top: 50px;
    }
    
    .sec-pb{
        padding-bottom: 50px;
    }
    
    .sec-mt{
        margin-top: 50px;
    }

    .logo img{
        max-width: 100%;
        height: 50px;
    }

    .nav-toggle{
        display: inline-block;
        width: 30px;
        height: 30px;
        font-size: 24px;
        color: var(--primary-color);
        text-align: center;
        line-height: 30px;
    }

    .nav-list{
        position: fixed;
        top: 0;
        left: -100%;
        width: 100vw;
        height: 100vh;
        background-color: rgba(191, 223, 249, 1);
        transition: left .3s ease-in-out;
        z-index: 1000;
    }

    .nav-list.open{
        left: 0;
    }

    .nav-list li{
        display: block;
        padding: 16px;
        margin: 0;
        border-bottom: 1px dashed var(--primary-color);
    }

    .nav-list li:last-child{
        border-bottom: 0;
    }

    .nav-list li a{
        color: var(--white-color);
    }

    .nav-list li.nav-close{
        font-size: 24px;
        color: var(--white-color);
        background-color: var(--secondary-color);
        border-bottom: none;
        text-align: right;
        padding: 8px 16px;
    }

    .toolbar-contact-list{
        text-align: center;
    }

    .trv-toolbar .social-links{
        justify-content: center;
    }

    .toolbar-contact-list a i, 
    .trv-toolbar .social-links a{
        width: 20px;
        height: 20px;
        font-size: 10px;
        line-height: 20px;
    }

    .toolbar-contact-list a{
        font-size: 12px;
    }

    .hero-banner-wpr .banner-item{
        height: 500px;
    }

    .hero-banner-wpr .banner-item img{
        object-fit: cover;
        object-position: left;
    }

    .banner-content h1{
        font-size: 30px;
    }

    .banner-content p{
        font-size: 20px;
    }

    .about-us-content{
        padding: 24px 0 0;
    }

    .trv-testimonial .achivement-counter{
        width: calc(100vw - 32px);
        height: 200px;
    }
    
    .contact-form{
        padding: 24px 16px;
    }

    .trv-footer-tooltip .item{
        text-align: center;
        padding-left: 0;
    }

    .trv-footer-tooltip .item i{
        position: relative;
        top: 0;
        margin-bottom: 16px;
        transform: translate(0, 0);
    }

    .middle-footer ul li,
    .middle-footer p,
    .middle-footer ul li a,
    .copyright address{
        font-size: 14px !important;
    }

    .trv-footer-tooltip h4{
        font-size: 18px;
        margin-top: 12px;
    }

    .trv-footer-tooltip p{
        font-size: 14px;
    }
}

/* Max Width 380px */
@media only screen and (max-width:380px){

    .video-post-info .read-more{
        top: -40px;
        left: -65%;
    }

    .product-thumb .stepper{
        display: none;
    }

    .product-layout .button-group{
        justify-content: center;
    }

    .qty-add-to-cart-wrap{
        flex-wrap: wrap;
        row-gap: 10px;
    }

    .btn-theme, .product-info .btn-wishlist{
        padding: 14px 8px;
    }
    
}

/* Max Width 360px */
@media only screen and (max-width:360px){

}

/* Max Width 320px */
@media only screen and (max-width:320px){

    .logo img{
        max-width: 75px;
        height: 70px;
    }

    .banner-content h1{
        font-size: 28px;
    }

    .banner-content p{
        font-size: 18px;
    }

}