
@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

:root{

    /* Colors */
    --primary-color:#1e75bb;
    --secondary-color: rgb(237, 27, 35);
    --heading-color:#243E8B;
    --text-color:#242527;
    --text-color-light:#808080;
    --body-bg-color:#F3F3F3;
    --white-color:#ffffff;

    /* Typography */
    --body-font: 'Poppins', sans-serif;
    --title-font: 'Poppins', sans-serif;
    --font-weight-small:300;
    --font-weight-normal: 400;
    --font-weight-medium: 500;
    --font-weight-semi-bold: 600;
    --font-weight-bold: 700;

    /* Others */
    --transition:.3s;
    --shadow: rgba(49,132,255,.8);
    --blur-big:50px;
    --blur-small:30px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body{
    font-family: var(--body-font);
    scroll-behavior: smooth;
    vertical-align: baseline;
    overflow-x: hidden;
    transition: .3s;
}

img {
    max-width: 100%;
    height: auto;

    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
    -webkit-touch-callout: none;
    backface-visibility: hidden;
}

h1,h2,h3,h4,h5,h6{
    font-family: var(--title-font);
    font-weight: var(--font-weight-bold);
}

h1{
    font-size: 60px;
    font-weight: var(--font-weight-bold);
}

h2{
    font-size: 30px;
    font-weight: var(--font-weight-medium);
}

h4{
    font-weight: var(--font-weight-bold);
}

p,
span{
    font-size: 16px;
    color: var(--text-color);
    font-family: var(--body-font);
    margin-bottom: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

li{
    list-style: none;
    font-family: var(--body-font);
}

a{
    font-size: 16px;
    font-family: var(--body-font);
    color: var(--text-color);
    text-decoration: none;
    transition:var(--transition);
}

a:hover{
    color: var(--text-color);
}

input:not([type="checkbox"]),
textarea,
select,
button {
    outline: none;
    border: none;
}

input::placeholder{
    font-size: 1rem;
    font-weight: var(--font-weight-small);
    color: var(--text-color-light);

}

/* General Css */

.scroll-margin{
    scroll-margin-top: 155px;
}

.mt-30{
    margin-top: 30px;
}

.mt-40{
    margin-top: 40px;
}

.mt-50{
    margin-top: 50px;
}

.mt-60{
    margin-top: 60px;
}

.mt-100{
    margin-top: 100px;
}

.mb-20{
    margin-bottom: 20px;
}

.mb-40{
    margin-bottom: 40px;
}

.mb-50{
    margin-bottom: 50px;
}

.mb-100{
    margin-bottom: 100px;
}

.pt-40{
    padding-top: 40px;
}

.pt-50{
    padding-top: 50px;
}

.pt-80{
    padding-top: 80px;
}

.pt-100{
    padding-top: 100px;
}

.pt-200{
    padding-top: 200px;
}

.pt-300{
    padding-top: 300px;
}

.pb-40{
    padding-bottom: 40px;
}

.pb-50{
    padding-bottom: 50px;
}

.pb-60{
    padding-bottom: 60px;
}

.pb-100{
    padding-bottom: 100px;
}

.pb-200{
    padding-bottom: 200px;
}

.px-50{
    padding: 0 50px;
}

.px-100{
    padding: 0 100px;
}

.py-70{
    padding: 70px 0;
}

.py-80{
    padding: 80px 0;
}

.mr-50{
    margin-right: 50px;
}

.title-center {
    background: url(../images/slider-bar.png) center no-repeat;
    font-size: 24px;
    font-weight: 600 !important;
    line-height: 42px;
    margin: 0;
    color: #313131;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 24px;
}

.title-center .content {
    background-color: #fff;
    padding-left: 20px;
    padding-right: 20px;
    display: inline;
}

.owl-carousel .owl-dots {
    text-align: center;
}

.owl-carousel .owl-dot {
    margin: 5px;
    outline: none;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: rgba(44, 54, 64, 1) !important;
}
  
.owl-carousel .owl-dot.active {
    background: var(--secondary-color) !important;
}

/* Header */

.trv-header{
    background-color: var(--white-color);
    box-shadow: 0 2px 2px rgb(0 0 0 / 10%);
}

.header-wpr{
    display: flex;
    justify-content: space-between;
}

.nav-list li{
    position: relative;
    display: inline-block;
    margin-left: 16px;
    padding: 30px 0;
}

.nav-list li a{
    display: block;
    font-size: 16px;
    color: var(--primary-color);
}

.header-icon{
    position: relative;
    display: inline-block;
    font-size: 24px;
    color: var(--white-color);
    padding: 16px 8px;
    cursor: pointer;
    transition: .3s;
    z-index: 11;
}

.header-icon span.product-count{
    position: absolute;
    top: 15px;
    right: 0;
    display: inline-block;
    width: 20px;
    height: 20px;
    font-size: 12px;
    font-weight: 700;
    background-color: var(--white-color);
    border-radius: 50%;
    text-align: center;
    line-height: 20px;
}

header.fixed span.product-count{
    color: var(--white-color);
    background-color: rgb(237, 27, 35);
}

.header-icon:hover{
    transform: translateY(-4px);
}

/* Nav Cart */

.nav-cart {
    position: absolute;
    top: 60px;
    right: 0;
    min-width: 350px;
    min-height: 60px;
    color: var(--text-color);
    font-weight: 700;
    background-color: var(--white-color);
    padding: 10px;
    /* box-shadow: 2px 2px 10px rgb(0 0 0 / 10%); */
    visibility: hidden;
    opacity: 0;
    transform: translateY(20%);
    transition: var(--transition);
    z-index: 11;
}

.nav-cart::after {
    position: absolute;
    content: "";
    width: 20px;
    height: 20px;
    top: -10px;
    right: 15px;
    background-color: var(--white-color);
    transform: rotate(135deg);
}

.cart:hover .nav-cart {
    visibility: visible;
    opacity: 1;
    transform: translateY(0%);
}

.nav-cart-heading{
    border-bottom: 1px solid #d3d3d3;
    padding: 5px 0;
    text-align: right;
}

.single-cart-product {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    color: var(--text-color);
    padding: 8px 8px 8px 0;
    border-bottom: 1px solid rgba(221, 221, 221, 1);
    text-align: left;
}

.single-cart-product p,
.single-cart-product span{
    font-size: 14px;
}

.single-cart-product .product-details > a{
    font-size: 15px;
    color: var(--secondary-color) !important;
    text-decoration: underline;
}

.single-cart-product .remove{
    color: var(--secondary-color);
}

.nav-cart .cart-sub-total{
    display: flex;
    justify-content: flex-end;
    gap: 16px;
    background-color: rgba(238, 238, 238, 1);
    border-bottom: 1px solid rgba(221, 221, 221, 1);
    padding: 8px 8px 4px;
}

.nav-cart .cart-btns{
    display: flex;
    gap: 8px;
    background-color: rgba(230, 230, 230, 1);
    padding: 12px 8px;
}

.nav-checkout {
    display: block;
    width: 100%;
    height: 35px;
    font-size: 14px;
    font-weight: 700;
    color: var(--white-color) !important;
    background-color: rgba(58, 71, 84, 1);
    text-align: center;
    line-height: 35px;
}

.nav-checkout:hover{
    background-color: var(--secondary-color);
}

/* Hero Banner */

.banner-item{
    height: calc(100vh - 80px);
}

.trv-hero-banner .banner-item img{
    width: 100%;
    height: 100%;
}

.swiper-progress-bar {
    position: relative;
    width: 100%;
    display: block;
    z-index: 1;
    height: 2px;
}

.slide_progress-bar {
    position: absolute;
    height: 2px;
    background: #000;
    width: auto;
    clear: both;
    opacity: 0;
    bottom: 45px;
    left: 0;
    right: 0;
    
}

.slide_progress-bar::after {
    position: absolute;
    top: 0;
    left: 0;
    background: var(--white-color);
    height: 100%;
    width: 0;
    content: "";
    transition: 0.1s width linear;
}

.swiper-progress-bar.active .slide_progress-bar{ 
      opacity: 1;
}
  
.swiper-progress-bar.animate .slide_progress-bar::after {
    transition: width linear;
    transition-delay: unset;
    width: 100%;
    transition-duration: 10s;
}

.banner-content{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
    top: 0;
    right: 0;
}

.banner-content h1{
    transform: translateY(100px);
    opacity: 0;
    transition: 1s;
}

.banner-content p{
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 20px;
    transform: translateY(80px);
    opacity: 0;
    transition: all 1s .3s;
}

.banner-content .shop-btn{
    width: 200px;
    height: 50px;
    font-weight: 600;
    color: var(--white-color);
    background-color: var(--text-color);
    text-align: center;
    line-height: 50px;
    transform: translateY(50px);
    opacity: 0;
    transition: all 1s .6s;
}

/* Category Banner */

.trv-category-banner img{
    width: 100%;
    height: auto;
    object-fit: cover;
}

.trv-category-banner .single-banner{
    position: relative;
    overflow: hidden;
}

.trv-category-banner .single-banner::before {
    content: "";
    background-color: #ffffff4d;
    position: absolute;
    left: -100%;
    display: block;
    width: 100%;
    top: 0;
    height: 100%;
    overflow: hidden;
    transition: left .4s ease 0s;
}

.trv-category-banner .single-banner:hover::before{
    left: 0;
}

/* New Collection */

/* Product Grid */

.product-thumb {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    min-width: 0;
    position: relative;
    -webkit-transition: all 0.075s ease-out;
    transition: all 0.075s ease-out;
    overflow: visible;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.product-thumb .image {
    position: relative;
    overflow: hidden;
}

.product-thumb .image::before {
    content: "";
    position: absolute;
    width: 100%;
    bottom: 0;
    height: 100%;
    pointer-events: none;
    z-index: 1;
    -webkit-transition: all 0.01s ease-out;
    transition: all 0.01s ease-out;
}

.product-thumb .quickview-button {
    display: flex;
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
    transform: translate3d(-50%, -50%, 1px);
    margin-right: 5px;
    margin-bottom: 5px;
    position: absolute;
    z-index: 4;
    overflow: hidden;
}

.product-thumb .btn-quickview {
    width: 40px;
    height: 40px;
    color: var(--white-color);
    background: rgba(58, 71, 84, 1);
    border-radius: 50px !important;
    text-align: center;
    line-height: 25px;
    visibility: hidden;
    opacity: 0;
    transform: scale(.88);
}

.product-thumb:hover .btn-quickview {
    visibility: visible;
    opacity: 1;
    transform: scale(1);
}

.product-thumb .product-img {
    display: block;
}

.product-thumb .product-img > div {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
}

.product-thumb .product-img img {
    background: rgba(240, 242, 245, 1);
    pointer-events: none;
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    width: 100%;
    height: 395px;
    object-fit: cover;
}

.product-thumb:hover .has-second-image img {
    visibility: hidden;
}

.product-thumb .product-img img.img-second {
    visibility: hidden;
    opacity: 0;
    position: absolute;
}

.product-thumb:hover .has-second-image img.img-second {
    visibility: visible;
    opacity: 1;
}

.product-thumb .caption {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    position: relative;
}

.product-thumb .name {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.3;
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    max-width: 100%;
    order: initial;
    display: flex;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    margin-top: 7px;
}

.product-thumb .name a {
    display: block;
    white-space: normal;
    overflow: visible;
    text-overflow: initial;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 15px;
    color: rgba(58, 71, 84, 1);
    text-align: center;
    text-transform: none;
    text-align: center;
}

.product-thumb .price {
    display: block;
    font-size: 15px;
    text-align: center;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 7px;
}

.product-thumb .price span {
    line-height: 1;
    font-weight: 600;
}

.product-thumb .buttons-wrapper {
    display: block;
    position: absolute;
    overflow: hidden;
    width: 100%;
    left: 50%;
    margin-top: auto;
    transform: translate3d(-50%,-100%,1px);
}

.product-layout .button-group{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    justify-content: space-between;
    position: relative;
    opacity: 0;
    visibility: hidden;
    transform: translate3d(0,15px,1px);
    -webkit-transition: -webkit-transform 0.2s ease-out;
    transition: -webkit-transform 0.2s ease-out;
    transition: transform 0.2s ease-out;
    transition: transform 0.2s ease-out, -webkit-transform 0.2s ease-out;
    background: rgba(58, 71, 84, 1);
    padding: 5px;
}

.product-thumb:hover .buttons-wrapper .button-group {
    opacity: 1;
    visibility: visible;
    transform: translate3d(0,0,1px);
}

.product-thumb .cart-group {
    display: inline-flex;
    flex: initial;
}

.stepper {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    width: 50px;
    height: 36px;
    border-width: 1px;
    min-height: 30px;
    font-size: 15px;
    border-color: rgba(105, 105, 115, 1);
    -webkit-transition: all 0.05s ease-out;
    transition: all 0.05s ease-out;
}

.stepper span {
    position: absolute;
    right: 0;
    top: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100%;
    border-width: 0 0 0 1px;
    border-color: inherit;
    border-style: inherit;
    z-index: 10;
}

.stepper span i {
    cursor: pointer;
    width: 100%;
    min-width: 18px;
    color: rgba(105, 105, 115, 1);
    background-color: rgba(238, 238, 238, 1);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 50%;
    -webkit-transition: all 0.05s ease-out;
    transition: all 0.05s ease-out;
}

.stepper span i:first-of-type {
    border-width: 0 0 1px 0;
    border-color: inherit;
    border-style: inherit;
}

.product-thumb .stepper {
    display: inline-flex;
    margin-right: 5px;
    border-style: none;
    height: 35px;
}

.product-thumb .btn-cart.btn {
    background: rgba(58, 71, 84, 1);
    border-width: 2px;
    padding: 0 10px;
    flex: initial;
    height: 35px;
    line-height: 35px;
}

.product-thumb .btn-cart.btn:hover{
    background-color: rgba(237, 27, 35, 1);
}

.product-thumb .btn-cart.btn i{
    font-size: 18px;
}

.product-thumb .btn-cart.btn,
.product-thumb .btn-cart.btn span{
    font-size: 12px;
    color: rgba(255, 255, 255, 1);
    font-weight: 700;
    text-transform: uppercase;
}

.wish-group {
    position: static;
    width: auto;
    top: auto;
    visibility: visible;
    opacity: 1;
    transform: translate3d(0,0,0);
    justify-content: flex-end;
}

.wish-group a i{
    font-size: 18px;
    font-weight: 400;
    color: rgba(237, 27, 35, 1);
    margin: 0 4px;
}

.product-thumb .btn-wishlist.btn {
    background: none;
    border-style: none;
    padding: 3px;
    box-shadow: none;
}

.product-thumb .extra-group {
    position: absolute;
    bottom: -10px;
    overflow: hidden;
    left: 0;
    right: 0;
    margin-top: auto;
}

.product-thumb .extra-group>div {
    background: rgba(240,242,245,1);
    padding: 3px 0 10px;
    transform: translate3d(0, 20px, 0);
    opacity: 0;
    text-align: center;
    transition: all 0.075s ease-out;
}

.product-thumb .extra-group > div > a{
    font-size: 13px;
    font-weight: 700;
    padding: 0;
}

.product-thumb .extra-group > div > a i{
    font-size: 18px;
}

.product-thumb:hover .extra-group>div {
    opacity: 1;
    transform: translate3d(0, 0, 0);
}

/* Blogs */

.single-video-post,
.video-post-image{
    position: relative;
    overflow: hidden;
}

.video-post-image img{
    width: 100%;
    height: auto;
    transform: scale(1);
    transition: .3s ease-in;
}

.single-video-post:hover .video-post-image img{
    transform: scale(1.1);
}

.video-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,.4);
    border-radius: 5px;
}
  
.vid-icon {
    display: inline-block;
    height: 50px;
    width: 50px;
    color: var(--dark-color);
    background: var(--white-color);
    border: 1px solid var(--hover-color);
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
    /* animation-name: ripple;
    animation-duration: 1.5s;
    animation-iteration-count: infinite; */
    z-index: 5;
}

/* @keyframes ripple {
    0% {
        box-shadow: 0 0 0 0 #fff4, 0 0 0 0 #fff4;
    }

    80% {
        box-shadow: 0 0 0 20px #fff0, 0 0 0 30px #fff0;
    }

    100% {
        box-shadow: 0 0 0 0 #fff0, 0 0 0 0 #fff0;
    }
} */
  
.vid-icon img {
    width: 27px;
    min-height: 27px;
    height: 27px;
    margin-left: 5px;
}

.mfp-wrap .mfp-close {
    cursor: pointer;
    background: var(--white-color);
    border: 0;
    outline: 0;
    padding: 0;
    display: block;
    z-index: 1046;
    box-shadow: none;
    text-align: center;
    width: 44px;
    height: 44px;
    border-radius: 50px;
    position: absolute;
    top: -50px;
    right: 0;
    color: var(--primary-color);
    opacity: 1;
}

button.mfp-close {
    overflow: visible;
    cursor: pointer;
    background: white;
    border: 0;
    outline: 0;
    padding: 0;
    display: block;
    z-index: 1046;
    box-shadow: none;
}

.mfp-close {
    position: absolute;
    top: 0;
    right: 40px;
    color: black;
}

.single-video-post:hover .post-meta-data{
    opacity: 0;
    visibility: hidden;
}

.post-meta-data span{
    font-weight: 700;
    color: rgb(237, 27, 35);
}

.post-meta-data span.post-date{
    display: inline-block;
    font-size: 14px;
    color: var(--text-color);
}

.video-post-info .read-more{
    position: relative;
    top: -25px;
    left: -50%;
    font-size: 14px;
    color: var(--text-color);
    text-transform: uppercase;
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-decoration-color: rgb(237, 27, 35);
}

.single-video-post:hover .read-more{
    left: 0;
}


/* Footer */

footer .top-footer {
    background-color: #000 !important;
    color: #fff !important;
  }
  footer .top-footer h1,
  footer .top-footer h2,
  footer .top-footer h3,
  footer .top-footer h4,
  footer .top-footer h5,
  footer .top-footer h6,
  footer .top-footer .h1,
  footer .top-footer .h2,
  footer .top-footer .h3,
  footer .top-footer .h4,
  footer .top-footer .h5,
  footer .top-footer .h6 {
    color: #fff !important;
  }
  footer .top-footer a {
    color: #fff !important;
  }
  footer .middle-footer {
    background-color: #000 !important;
    color: #fff !important;
    padding: 80px 0 70px;
  }
  footer .middle-footer h1,
  footer .middle-footer h2,
  footer .middle-footer h3,
  footer .middle-footer h4,
  footer .middle-footer h5,
  footer .middle-footer h6,
  footer .middle-footer .h1,
  footer .middle-footer .h2,
  footer .middle-footer .h3,
  footer .middle-footer .h4,
  footer .middle-footer .h5,
  footer .middle-footer .h6 {
    color: #fff !important;
  }
  footer .middle-footer a {
    color: #fff !important;
    font-weight: var(--font-weight-bold);
  }
  footer .bottom-footer {
    background-color: #000 !important;
    color: #fff !important;
  }
  footer .bottom-footer h1,
  footer .bottom-footer h2,
  footer .bottom-footer h3,
  footer .bottom-footer h4,
  footer .bottom-footer h5,
  footer .bottom-footer h6,
  footer .bottom-footer .h1,
  footer .bottom-footer .h2,
  footer .bottom-footer .h3,
  footer .bottom-footer .h4,
  footer .bottom-footer .h5,
  footer .bottom-footer .h6 {
    color: #fff !important;
  }
  footer .bottom-footer a {
    color: #fff !important;
  }

ul.list-icon li {
    position: relative;
    font-weight: var(--font-weight-bold);
    margin-bottom: 18px;
}
 
ul.social-link li {
    float: left;
    margin: 0 10px;
    font-size: 16px;
}

.footer .middle-footer ul.menu li {
    line-height: 30px;
    margin-bottom: 5px;
}

.copyright address{
    font-weight: var(--font-weight-bold);
}

.trv-footer-tooltip{
    background-color: #3b3b3b;
    padding: 32px 0;
}

.trv-footer-tooltip h4,
.trv-footer-tooltip p{
    color: var(--white-color);
    font-weight: 700;
    margin-bottom: 4px;
}

.trv-footer-tooltip .item{
    position: relative;
    padding-left: 40px;
}

.trv-footer-tooltip .item i{
    position: absolute;
    left: 0;
    top: 50%;
    font-size: 32px;
    color: rgb(237, 27, 35);
    transform: translate(0, -50%);
}

/* Product Category */

.trv-breadcrumb .breadcrumb-link {
    position: relative;
    display: inline-block;
    font-weight: 700;
    padding: 0 10px;
}

.trv-breadcrumb .breadcrumb-link:not(:last-of-type)::after {
    position: absolute;
    content: "/";
    top: 2px;
    right: -4px;
    font-size: 14px;
    font-weight: 700;
}

.breadcrumb-link.active {
    color: rgb(237, 27, 35);
}

.categori-details {
    display: grid;
    grid-template-columns: 230px 1fr;
    grid-column-gap: 24px;
}

.product-toolbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 8px 0;
    margin: 16px 0;
    border-top: 1px solid rgba(221, 221, 221, 1);
    border-bottom: 1px solid rgba(221, 221, 221, 1);
}

.sorting-menu {
    display: inline-block;
    background-color: var(--white-color);
    border-radius: 5px;
    border: 1px solid var(--text-color-light);
    padding: 6px 0;
}

.product-toolbar .sorting-item {
    display: inline-block;
    font-size: .88rem;
    padding: 0 14px;
    border-right: 1px solid var(--text-color-light);
}

.sorting-widget,
.view-widget{
    display: flex;
    align-items: center;
    gap: 10px;
}

.sorting-widget *{
    font-weight: 700;
}

.view-widget .layout-icon {
    font-size: 24px;
    cursor: pointer;
}

.view-widget .layout-icon.active {
    color: rgb(237, 27, 35);
}

.filter-toolbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 24px;
}
  
.filter-toolbar .filters{
    display: flex;
    gap: 16px;
}
  
.single-filter{
    width: max-content;
    height: 40px;
    display: flex;
    align-items: center;
    gap: 4px;
    background-color: #f7f8f9;
    border: 1px solid var(--primary-color);
    border-radius: 20px;
    padding: 4px 8px;
}
  
.single-filter .form-select{
    width: max-content;
    border: none;
    background-color: transparent;
    outline: none;
    padding-left: 0;
}
  
.single-filter .form-select:focus{
    box-shadow: none;
}
  
.single-widget{
    background-color: rgba(240, 242, 245, 1);
    margin-bottom: 20px;
}
  
.single-widget .widget-title{
    position: relative;
    border-bottom: 1px solid rgba(221, 221, 221, 1);
    padding: 8px;
}

.single-widget .widget-content{
    padding: 8px;
}
  
/* .single-widget .widget-title::before{
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    width: 60px;
    height: 2px;
    background-color: var(--primary-color);
} */
  
.widget-title h5{
    font-weight: var(--font-weight-bold);
    margin-bottom: 0;
}
  
.categories li a{
    display: block;
    font-weight: 700;
    margin: 4px 0;
}
  
.color-filter li,
.size-filter li{
    display: inline-block;
    margin-right: 7px;
}
  
.color-filter input{
    appearance: none;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    cursor: pointer;
}
  
.color-filter input:checked{
    padding: 4px;
    box-shadow: 0 0 0 2px #fff,0 0 0 3px #3a3a3a;
}
  
.size-filter input{
    appearance: none;
    display: none;
}
  
.size-filter label span{
    display: inline-block;
    min-width: 30px;
    height: 30px;
    font-size: 14px;
    font-weight: 700;
    border: 1px solid rgb(237, 27, 35);
    text-align: center;
    line-height: 28px;
    cursor: pointer;
    margin-bottom: 8px;
    padding:0 2px;
}
  
.size-filter input:checked ~ span{
    color: var(--white-color);
    background-color: rgb(237, 27, 35);
}
  
.widget-products .single-product{
    padding: 0 5px;
    margin-bottom: 10px;
    box-shadow: none;
}

.widget-products .single-product h6{
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow-y: hidden;
    text-overflow: ellipsis;
    margin-bottom: 4px;
}
  
.widget-products .price{
    font-size: .85rem;
    color: rgb(237, 27, 35);
}

/* Range Filter */

.price-input{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 10px 0 16px;
}

.price-input .field{
    width: 80px;
    height: 30px;
    font-size: 14px;
    font-weight: 700;
    align-items: center;
}
.field input{
    width: 100%;
    height: 100%;
    outline: none;
    font-size: 12px;
    margin-left: 0;
    text-align: center;
    border: 1px solid #999;
    -moz-appearance: textfield;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.price-input .separator{
    width: max-content;
    display: flex;
    font-size: 14px;
    align-items: center;
    justify-content: center;
    padding: 0 2px;
}

.slider{
    height: 2.5px;
    position: relative;
    background: #d3d3d3;
    margin: 5px 0 10px;
}

.slider .progress{
    height: 100%;
    left: 25%;
    right: 25%;
    position: absolute;
    border-radius: 5px;
    background: rgb(237, 27, 35);
}

.range-input{
    position: relative;
}

.range-input input{
    position: absolute;
    width: 100%;
    height: 5px;
    top: -15px;
    background: none;
    pointer-events: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

input[type="range"]::-webkit-slider-thumb{
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background: var(--primary-color);
    pointer-events: auto;
    -webkit-appearance: none;
    box-shadow: 0 0 6px rgba(0,0,0,0.05);
}

/* Quick View Modal */

.trv-quick-view{
    position: fixed;
    width: 100%;
    height: 100vh;
    left: 0;
    top: 0;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: rgb(0 0 0 / 40%);
    z-index: 100;
}
  
.trv-quick-view.show{
    display: flex;
}
  
.quick-view-container{
    position: relative;
    width: 58%;
    height: 85%;
    background-color: var(--white-color);
    padding: 24px;
    border-radius: 8px;
    overflow: auto;
}
  
.modal-close{
    position: absolute;
    right: 30px;
    top: 25px;
    font-size: 1.5rem;
    color: var(--primary-color);
    cursor: pointer;
    z-index: 10;
}

.product-info h3 {
    font-family: var(--body-font);
}

.product-info .rating-box-wrap {
    display: flex;
    align-items: center;
}

.quick-view-container .rating-box-wrap{
    flex-direction: column;
    align-items: flex-start;
}

.rating-box-wrap .rating-box {
    display: flex;
    gap: 2px;
}

.rating-box-wrap .rating-box span{
    font-size: 18px;
    color: goldenrod;
}

.rating-box i {
    color: #f9ba48;
    font-size: 1rem;
    letter-spacing: 2px;
}

.rating-box-wrap .review-status {
    position: relative;
    top: 1px;
}

.review-status a {
    color: rgb(237, 27, 35);
    display: inline-block;
    font-weight: 700;
    line-height: 1;
    margin-left: 8px;
    text-decoration: underline;
}

.quick-view-container .review-status a{
    margin-left: 0;
    margin-right: 8px;
}

.review-status a:hover {
    color: var(--secondary-color);
}

.product-info .prices {
    border-top: 1px solid #e5e5e5;
    margin: 20px 0 7px 0;
    padding-top: 10px;
}

.prices .price {
    font-size: 1.20rem;
    font-weight: var(--font-weight-semi-bold);
}

.product-info .desc {
    color: #999;
    font-weight: 700;
    line-height: 1.8;
    margin-bottom: 24px;
}

.product-info .color-form-select-wrap .form-label {
    font-size: 1rem;
    font-weight: var(--font-weight-semi-bold);
    margin: 0 0 8px;
    text-transform: capitalize;
}

.product-info .color-form-select-wrap .color-form-select {
    border: 1px solid var(--secondary-color);
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: #fff;
    border-radius: 4px;
    cursor: pointer;
    height: 41px;
    padding: 0 5px 0 15px;
    min-width: 285px;
    width: 285px;
}

.product-info .qty-add-to-cart-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 30px;
}

.qty-wrap {
    margin-right: 10px;
}

.qty-wrap .pro-qty {
    display: inline-block;
    position: relative;
}

.qty-wrap .pro-qty input {
    background-color: transparent;
    border: 1px solid rgba(221, 221, 221, 1);
    width: 100px;
    height: 42px;
    font-size: 16px;
    font-weight: 700;
    padding: 5px 26px 5px 5px;
    text-align: center;
}

.qty-wrap .pro-qty .qty-btn {
    background-color: rgba(238, 238, 238, 1);
    position: absolute;
    width: 25px;
    height: 21px;
    font-weight: 600;
    top: 0;
    right: 0;
    border: 1px solid rgba(221, 221, 221, 1);
    line-height: 21px;
    cursor: pointer;
    text-align: center;
    transition: all 0.3s ease-out;
}

.qty-wrap .pro-qty .dec {
    border-top: 0;
    top: auto;
    bottom: 0;
}

.qty-wrap .pro-qty .qty-btn:hover{
    color: var(--white-color);
    background-color: rgb(237, 27, 35);
    border-color: rgb(237, 27, 35);
}

.btn-theme {
    background: rgba(58, 71, 84, 1);
    color: #fff;
    display: inline-block;
    line-height: 1;
    font-size: 14px;
    font-weight: 700;
    padding: 14px 40px;
    text-transform: uppercase;
    transition: all 0.3s ease-out;
}

.btn-theme:hover{
    background-color: rgb(237, 27, 35);
}

.product-info .btn-wishlist{
    width: max-content;
    background-color: rgb(237, 27, 35);
    padding: 14px 20px;
}

.product-info .btn-wishlist:hover{
    background: rgba(58, 71, 84, 1);
}

.product-info .btn-theme:hover {
    color: var(--white-color);
}

.product-info .wishlist-compare-wrap {
    margin-top: 16px;
}

.product-info .wishlist-compare-wrap a:hover {
    color: var(--secondary-color);
}

.product-info .wishlist-compare-wrap a+a {
    margin-left: 36px;
}

.product-info .product-single-meta {
    border-top: 1px solid #e5e5e5;
    margin: 20px 0 22px 0;
    padding-top: 22px;
    width: 100%;
}

.product-info .product-single-meta ul {
    margin-bottom: 0;
}

.product-info .product-single-meta ul li {
    color: #242424;
    display: block;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.71428;
    margin: 0 0 5px 0;
}

.product-info .product-single-meta ul li span {
    font-size: 1rem;
    font-weight: var(--font-weight-semi-bold);
    text-transform: capitalize;
}

.product-info .social-icons {
    border-top: 1px solid #e5e5e5;
    margin-top: 20px;
    padding-top: 20px;
}

.social-icons a:hover{
    color: rgb(237, 27, 35);
}

.product-info .social-icons span {
    display: inline-block;
    font-size: 1rem;
    font-weight: var(--font-weight-semi-bold);
    margin-bottom: 8px;
    margin-right: 15px;
    text-transform: capitalize;
}

.product-info .social-icons a {
    display: inline-block;
    text-align: center;
    margin-right: 15px;
}

.product-slider .single-product-thumb .owl-item {
    cursor: pointer;
}

.trv-product-details .single-product-thumb .owl-stage{
    width: 100% !important;
}

.trv-product-details .single-product-thumb .owl-item{
   display: block;
   width: 100% !important;
   margin-right: 0 !important;
   margin-bottom: 8px;
}

/* Prodcut Review */

.product-review-tabs-content {
    margin: 32px 0;
}

.product-review-tabs-content .nav {
    border-bottom: 1px solid #e5e5e5;
    margin: 0 0 35px 0;
    padding-bottom: 20px;
    position: relative;
    text-align: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.product-review-tabs-content .nav li {
    display: inline-block;
    position: relative;
    margin-bottom: 10px;
}

.product-review-tabs-content .nav li+li {
    margin-left: 8px;
}

.product-review-tabs-content .nav li a {
    border: 2px solid rgb(237, 27, 35);
    color: #242424;
    line-height: 30px;
    padding: 13px 50px;
    display: block;
    font-size: 18px;
    font-weight: 700;
    position: relative;
    text-decoration: none;
    text-shadow: none;
    text-transform: none;
}

.product-review-tabs-content .nav li a.active {
    color: #fff;
    background: rgb(237, 27, 35);
    border-color: rgb(237, 27, 35);
}

.product-review-tabs-content .nav li a.active:before {
    left: -2px;
    right: -2px;
    width: auto;
}

.product-review-tabs-content .nav li a:before {
    background: rgb(237, 27, 35);
    bottom: -33px;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    right: 50%;
    width: 0;
    z-index: 1;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
}

.product-review-tabs-content .nav li a.active:before {
    left: -2px;
    right: -2px;
    width: auto;
}

.product-review-content .comment-author .comment-content .title {
    margin-bottom: 18px;
}

.product-review-content .comment-author .comment-content .rating-box i {
    color: #f9ba48;
    font-size: .80rem;
    letter-spacing: 2px;
    margin-bottom: 4px;
}

.product-review-tabs-content .product-description p {
    color: #999;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 25px;
}

.product-review-tabs-content .product-information table {
    border: 1px solid #e5e5e5;
    width: 100%;
}

.product-information table tbody tr th {
    border: none;
    border-right: 1px solid #e5e5e5;
    font-size: .90rem;
    font-weight: var(--font-weight-semi-bold);
    text-transform: uppercase;
    padding: 16px;
    width: 150px;
    line-height: 1.5;
}

.product-information table tbody tr td {
    padding: 16px;
    font-style: italic;
    color: #999;
    border-top: 0;
    border-bottom: 1px dotted rgba(0, 0, 0, 0.1);
    border-right: 1px solid #e5e5e5;
    margin: 0;
    line-height: 1.5;
}

.product-review-content {
    margin-top: 48px;
}

.product-review-content *{
    font-weight: 700;
}

.product-review-content .comment-author {
    position: relative;
}

.product-review-content .comment-author .comment-thumb {
    position: absolute;
    top: 0;
    left: 0;
}

.product-review-content .comment-author .comment-thumb img{
    border-radius: 50%;
}

.product-review-content .comment-author .comment-content {
    background-color: #fff;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
    margin-left: 80px;
    position: relative;
    padding: 24px 24px 20px;
    margin: 0 0 0 80px;
}

.product-review-content .comment-form-content {
    margin-top: 40px;
}

.product-review-content .comment-form-content .title {
    color: rgb(237, 27, 35);
    display: block;
    font-size: 1.154em;
    font-weight: 700;
    margin: 0 0 20px;
    text-transform: uppercase;
}

.product-review-content .comment-form-content .desc {
    color: #999;
    margin-bottom: 11px;
}

.product-review-tabs-content .review-comment-form {
    margin-top: 18px;
}

.review-comment-form .form-group {
    margin-bottom: 18px;
}

.comment-form-content .form-label {
    cursor: pointer;
    color: #999;
    font-size: 14px;
    margin: 0 0 5px;
}

.review-comment-form .form-label {
    font-weight: 700;
    margin: 0 0 5px;
}

.review-comment-form .form-control {
    font-size: 14px;
    width: 100%;
    height: 50px;
    line-height: 48px;
    max-width: 100%;
    padding: 0 15px;
    background: #fff;
    border: 1px solid #e5e5e5;
    border-radius: 0;
    box-shadow: none;
    outline: none;
}

.review-comment-form textarea.form-control {
    padding-top: 10px;
    height: 125px;
    line-height: 1.8;
}

.trv-related-products .single-product {
    box-shadow: none;
}

/* Wish List */

.trv-wishlist{
    padding:10px 0 40px;
}

.trv-wishlist *,
.trv-cart *{
    font-weight: 700;
}

.product-table{
    width: 100%;
    overflow-x: auto;
}

.product-table::-webkit-scrollbar{
    height: 3px;
}

.product-table::-webkit-scrollbar-track {
    background: #d3d3d3;
}

.product-table::-webkit-scrollbar-thumb {
    background: var(--secondary-color);
}

.product-table tr td,
.product-table th{
    vertical-align: middle;
    padding: 12px 24px;
}

.product-table tr:last-child td{
    border-bottom-width: 0;
}

.product-table th{
    font-weight: var(--font-weight-medium);
}

.product-table .product-name{
    width: max-content;
}

.wishlist-table td.wish-product{
    display: flex;
    align-items: center;
    gap: 24px;
}

.producr-del i{
    font-weight: 400 !important;
    margin-right: 60px;
}

.producr-del a:hover{
    color: var(--secondary-color);
}

.stock-status{
    width: max-content;
    color: #007D1C;
    background: rgba(156, 199, 109, 0.25);
    border-radius: 24px;
    padding: 3px 16px;
    text-align: center;
}

.wishlist-table .add-cart{
    display: block;
    width: 120px;
    height: 40px;
    color: var(--white-color);
    background-color: var(--secondary-color);
    border-radius: 30px;
    text-align: center;
    line-height: 40px;
}

.wishlist-table .add-cart:hover{
    background-color: rgba(58, 71, 84, 1);
}

.product-quantity button{
    width: 30%;
    background-color: transparent;
    border: none;
    outline: none;
    text-align: center;
}

.product-quantity{
    display: flex;
    justify-content: space-between;
    width: 150px;
    height: 55px;
    border: 1px solid #ddd;
}

.product-quantity .quantity-input{
    width: 40%;
    height: 100%;
    font-size: 1.25rem;
    text-align: center;
    line-height: 100%;
}

.trv-faq{
    border-bottom: 1px solid #d3d3d3;
}

.cart-filter-label{
    margin-bottom: 16px;
    cursor: pointer;
}

.trv-faq ul li{
    display: flex !important;
    gap: 5px;
    margin-bottom: 8px;
    padding-left: 16px;
}

/* .filter-content {
    height: 0;
    overflow: hidden;
    -webkit-transition: height .3s ease;
    transition: var(--transition) ease;
    padding: 0;
}

.cart-filter-label.active ~ .filter-content {
    height: auto;
    padding-bottom: 24px;
}

.filter-content input{
    border: 1px solid var(--secondary-color);
    padding: 4px 8px;
}

.filter-content button{
    width: max-content;
    padding: 5px 20px;
    color: var(--white-color);
    background-color: var(--primary-color);
}

.filter-content fieldset label{
    display: block;
    font-size: .90rem;
    margin-bottom: 4px;
} */

.single-calc{
    display: flex;
    justify-content: flex-end;
    gap: 50px;
    padding: 6px 10px;
    box-shadow: 1px 1px  3px rgba(0, 0, 0, 0.1);
    margin-bottom: 12px;
}

.single-calc p{
    font-size: .95rem;
    font-weight: var(--font-weight-medium);
}

.total-btn{
    display: inline-block;
    width: 49%;
    height: 45px;
    font-weight: 700;
    color: var(--white-color);
    background-color: rgba(58, 71, 84, 1);
    margin-top: 16px;
}

.total-btn:hover{
    background-color: rgba(58, 71, 84, 1);
}

/* Sign In & Sign Up */

fieldset legend{
    font-size: 1.15rem;
    border-bottom: 1px solid #d3d3d3;
    padding: 8px 0;
    margin-bottom: 24px;
}

.form-group .row{
    align-items: center;
}

.form-group label{
    font-size: .95rem;
    text-align: right;
}

.form-group.required label::after{
    content: "*";
    font-weight: var(--font-weight-bold);
    color: var(--secondary-color);
    margin-right: 4px;
}

.form-group input.form-control::placeholder{
    font-size: 14px;
    color: var(--secondary-color);
}

.sign-btn button{
    width: max-content;
    height: 40px;
    color: var(--white-color);
    font-weight: 700;
    background-color: var(--secondary-color);
    padding: 0 20px;
    border-radius: 3px;
}

.trv-signin{
    min-height: 500px;
    font-weight: 700;
}

.trv-signup{
    font-weight: 700;
}

.signin-step{
    border: 1px solid #d3d3d3;
    border-radius: 4px;
    padding: 16px;
}

.signin-step h5{
    padding-bottom: 8px;
    border-bottom: 1px solid #d3d3d3 ;
}

form input.form-control,
form select.form-control{
    font-weight: 700;
    color: rgba(51, 51, 51, 1);
    background-color: rgba(250, 250, 250, 1);
    border: 1px solid rgba(221, 221, 221, 1);
    margin: 4px 0 10px;
}

input.form-control:focus,
select.form-control:focus{
    background-color: var(--white-color);
    box-shadow: none;
    border-color: var(--secondary-color);
}

.signin-step .sign-btn{
    margin-top: 16px;
}

/* Account */

.trv-acc-menu{
    border: 1px solid #d3d3d3;
    padding: 16px;
    box-shadow: 0 0 4px rgb(0 0 0 / 10%);
    border-radius: 4px;
}

.trv-acc-menu ul{
    margin:8px 0;
}

.trv-acc-menu li a{
    display: inline-block;
    font-weight: 700;
    margin: 2px 0;
}

.trv-acc-menu li a.active{
    font-weight: var(--font-weight-bold);
    color: var(--secondary-color);
}

.info-box{
    width: 100%;
    border: 1px solid #d3d3d3;
    border-radius: 4px;
    margin-top: 16px;
}

.box-title,
.box-content,
.box-action{
    font-weight: 700;
    padding: 8px 16px;
    background-color: #f5f5f5;
    
}

.box-title{
    font-weight: 700;
    border-bottom: 1px solid #d3d3d3;
    border-radius: 4px 4px 0 0;
}

.box-action{
    border-top: 1px solid #d3d3d3;
    border-radius: 0 0 4px 4px;
}

.box-content{
    font-weight: 700;
    background-color: var(--white-color);
    min-height: 150px;
}

.box-action span{
    font-weight: 700;
    color: var(--secondary-color);
}

.trv-address{
    font-weight: 700;
}

.address-form input,
.account-edit-form input:not([type="checkbox"]){
    font-weight: 700;
    margin: 8px 0 16px;
}

.address-form legend,
.account-edit-form legend{
    font-size: 1.25rem;
    font-weight: 700;
    border-bottom: none;
    margin-bottom: 0;
}

.account-edit-form .changing-field{
    height: 0;
    overflow: hidden;
    padding: 0;
    transition: var(--transition) ease;
}

.account-edit-form input[type="checkbox"]:checked ~ .changing-field{
    height: auto;
    padding: 8px 0;
}

/* Checkout */

.trv-checkout{
    padding: 20px 0 50px;
    font-weight: 700;
}

form.billing-infos label{
    margin-bottom: 8px;
}

form.billing-infos .form-group{
    margin-bottom: 14px;
}

form.billing-infos .select2-container .select2-selection--single{
    width: 100%;
    height: 38px;
    border-color: #ced4da;
}

form.billing-infos .select2-selection__arrow{
    height: 38px !important;
}

form.billing-infos .select2-container--default .select2-selection--single .select2-selection__rendered{
    padding: 0 .75rem;
    line-height: 38px;
}

.select2-dropdown{
    z-index: 1;
    font-weight: 700;
}

.trv-order-summary{
    padding: 16px 20px;
    border: 6px solid #EFEFEF;
    border-radius: 5px;
}

.oreder-products .heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0 12px;
    border-bottom: 1px solid #ced4da;
}

.order-product{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    margin:10px 0;
    min-height: 40px;
}

.order-total li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px 0;
    border-top: 1px solid #ced4da; 
}

.pay-method{
    padding: 16px 0;
    border-bottom: 1px solid #ced4da;
}

.pay-method label{
    position: relative;
    padding-left: 24px;
    cursor: pointer;
}

.pay-method input[type="radio"]{
    appearance: none;
}

.pay-method label::before{
    position: absolute;
    content: "";
    top: 50%;
    left: 0;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    border: 1.2px solid var(--secondary-color);
    transform: translateY(-50%);
    transition: border-width .005s linear;
}

.pay-method h6{
    margin-bottom: 0;
}

.pay-method .accordion{
    position: relative;
    height: 0px;
    padding: 0 26px;
    overflow: hidden;
    transition: height var(--transition) ease-in-out, padding-top .3s ease-in-out;
    z-index: 10;
}

.pay-method input[type="radio"]:checked ~ .accordion{

    transition: height var(--transition) ease-in-out, padding-top .3s ease-in-out;
}

.pay-method input[type="radio"]:checked ~ .accordion{
    height: max-content;
    padding-top: 14px;
}

.pay-method input[type="radio"]:checked ~ label::before{
    border-width: 5px;
}